body {
  background: #f9f9f9 url("/img/doodles.png") repeat; }
  body .navbar {
    background-color: #22305F;
    opacity: .9; }
    body .navbar #logo {
      margin-top: -10px; }
    body .navbar .button-search {
      border-radius: .25rem;
      border: 1px solid #37A8EE;
      background-color: transparent;
      color: #37A8EE; }
    body .navbar .button-search:hover {
      border-radius: .25rem;
      border: 1px solid #37A8EE;
      background-color: #37A8EE;
      color: #fff; }
    body .navbar .button-statistics {
      border-radius: .25rem;
      border: 1px solid #37A8EE;
      background-color: #37A8EE;
      color: #fff; }
    body .navbar .button-statistics:hover {
      border-radius: .25rem;
      border: 1px solid #0E6DA9;
      background-color: #0E6DA9;
      color: #fff; }
  body #statistics-section {
    margin-top: 100px; }

@media only screen and (max-width: 700px) {
  body #main-navigation {
    display: none; } }
